/*
:Author: Kun Li
:Contact: likunarmstrong@gmail.com
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils for my blog.
*/

table.footnote {
  border-left: solid 1px #F2FFFC;
  margin-left: 1px }

a.toc-backref {
  text-decoration: none ;
  color: #F2FFFC }

table.docutils {
    margin-bottom: 1.5em;
}

/* Override the css set by grayscale.css */
ul {
    list-style-type: disc;
}
