# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

*.exe

dispatch

*._data
*.js_
*.js.deps
*.dart.js
*.dart.js.map
*.dart.precompiled.js

blog/web/packages/
blog/web/post_app.dart._buildLogs.1
blog/dart/.idea/
blog/dart/.buildlog
blog/dart/.pub/
blog/dart/build.dart
blog/dart/build/
blog/dart/packages
blog/dart/pubspec.lock

