{{ template "head" }}
{{ template "nav" }}
    <section class="intro">
        <div id="post-list">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul>
                        {{range .}}<li class="post-line">
                            <div class=post-title>
                                <a href="{{.Link}}" target="_blank"><h3 class=title-text>{{.Title}}</h3></a>
                            </div>
                            <div class=post-date>
                                <h5 class=date-text>{{.Date}}</h5>
                            </div>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{{ template "foot" }}
