<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

    {% include head.html %}

    <body class="theme-base-0d">

        {% include sidebar.html %}

        <div class="content container">
            <div class="post">
                <h1 class="post-title">{{ page.title }}</h1>
                <span class="post-date">{{ page.date | date_to_string }}</span>
                {{ content }}
            </div>

            <div class="related">
                <h2>Related Posts</h2>
                <ul class="related-posts">
                    {% for post in site.related_posts limit:3 %}
                    <li>
                        <h3>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                                <small>{{ post.date | date_to_string }}</small>
                            </a>
                        </h3>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
