/** {*/
    /*border: 1px solid red;*/
/*}*/

body {
    margin: 0 auto;
    font-family:'Roboto', Helvetica, Arial, sans-serif;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}

// Try CaviarDreams, font-family: 
