@import url("base.css");

.footer {
    margin-top: 50px;
    display: block;
    clear: both;
    text-align: center;
    color: #999;
}

.menu {
    margin: 0 0;
}

.menu .pure-menu {
    padding: 0.5em;
    background-color: black;
}

.menu .pure-menu li a {
    color: white;
    font-weight: bold;
    font-size: 110%;
}

.menu .pure-menu li a:hover,
.menu .pure-menu li a:focus {
    border: none;
    color: #33B5E5;
}

.pure-menu-selected {
    background-color: grey;
}

#profile {
    padding: 1.5em;
}

#name {
    font-family:'Lora';
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    margin: 0em 0;
    line-height: 1.2em;
}

#intro {
    padding: 1.5em;
    font-size: 115%;
}

.dl-horizontal {
    margin-top:20px;
}

.desc {
    padding:10px;
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.l-box {
    padding: 1em;
}

.term {
    font-weight: bold;
    font-size: 115%;
}
