<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Kun Li">

        <title>Kun's Blog</title>

        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css" rel="stylesheet" >
        <link href="css/main.css" rel="stylesheet" >
    </head>
    <body>
        <nav class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="pure-menu-selected"><a href="#">Blog</a></li>
                <li><a href="pdf/lk-cv.pdf">Resume</a></li>
            </ul>
        </nav>

        <div class="pure-g-r" id="layout">
            <div class="pure-u-1" align="center">
                <h1>All Posts</h1>
            </div>

            <div class="content pure-u-1" align="center">
                <div class="pure-u-1-2">
                    <div class="pure-menu pure-menu-open">
                        <ul class="post-list">
                            <li class="pure-menu-heading">2013</li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Flickr</a></li>
                            <li><a href="#">Messenger</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Finance</a></li>
                            <li class="pure-menu-heading">2012</li>
                            <li><a href="#">Games</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">OMG!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
        <script>
            YUI().use('node-base', 'node-event-delegate', function (Y) {
                // This just makes sure that the href="#" attached to the <a> elements
                // don't scroll you back up the page.
                Y.one('.content').delegate('click', function (e) {
                    e.preventDefault();
                }, 'a[href="#"]');
            });
        </script>
    </body>

    <footer class="footer">
        <div>
            <p> This site is hosted on <a href="https://appengine.google.com/">AppEngine</a> and written in <a href="http://golang.org/">Go programming language</a> </p>
            <p>&copy; 2013. All rights reserved.</p>
        </div>
    </footer>
</html>
